* {
    margin: 0;
    padding: 0;
}

.header {
            background-color: red;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
}

.web {
            color: white;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
}

.web-input {
    width: 50%;
    margin: auto 1.5rem;
}

.lista {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 0.5rem;
}

.menu {
            list-style: none;
            background-color: rgb(230, 121, 121);
            width: 5rem;
            text-align: center;
            padding: 1rem 0.1rem;
            border-radius: 1.1rem;
            margin-top: 0.3rem;
            margin-bottom: 0.3rem;
}

.menu a {
            color: white;
            text-decoration: none;
}

main {
            background-color: black;
            color: white;
            text-align: center;
            padding-bottom: 1rem;
}

.titulo {
            padding-top: 1rem;
            padding-bottom: 1.5rem;
}

.cuerpo {
            background-color: red;
            color: white;
            text-align: center;
            padding-top: 0.6rem;
            padding-bottom: 3.5rem;
}

.titulo2 {
            padding-bottom: 3.5rem;
}

.footer {
            background-color: black;
            color: white;
            text-align: center;
            padding-top: 80px;
            padding-bottom: 80px;
}