* {
    margin: 0;
}


.header {
            background-color: red;
            /* display: flex; */
            display: grid;
            grid-template-columns: 1fr 1fr /*max-content*/ 1fr;
            align-items: center;
}

.web {
            color: white;
            font-weight: bold;
            margin-left: 5%;
            margin-right: 3%;
}

.web-header, textarea {
    width: 50%;
}

.lista {
            padding: 0;
            /* display: grid;
            grid-template-columns: 1fr 1fr 1fr; */
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
}

.menu {
            color: white;
            text-decoration: none;
            background-color: rgb(230, 121, 121);
            
            padding: 15px;
            border-radius: 20px;
            margin-top: 5px;
            margin-bottom: 5px;
            
            justify-self: center;
}

.titulo {
            background-color: black;
            color: white;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 25px;
}

.cuerpo {
            background-color: red;
            color: white;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 60px;
}

.footer {
            background-color: black;
            color: white;
            text-align: center;
            padding-top: 80px;
            padding-bottom: 80px;
}