* {
    margin: 0;
    text-decoration: none;
}

.cuerpo {
            background-image: url(../images/img01.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
}

.otrodiv {
            display: flex;
            margin-top: 30px;
            justify-content: center;
}

.telefono {
            display: flex;
            flex-direction: column;
            background: -webkit-linear-gradient(320deg, rgb(202, 16, 75),rgb(30, 30, 30));
            border-style: solid;
            border-radius: 40px;
}

.titulo {
            text-align: center;
            color: #ffffff;
            padding: 0.4rem;
}

video {
            border-bottom-right-radius: 40px;
            border-bottom-left-radius: 40px;
            box-shadow: 0 0 5px 4px white;
            margin: 0 1rem 1rem 1rem;
}

.pie {
            background-color: rgb(104, 42, 87);
            color: #ffffff;
            margin-top: 0.6rem;
            padding: 0.1rem;
            text-align: center;
}